# deps
node_modules/
**/node_modules/

# builds
dist/
**/dist/
dist-exe/
**/dist-exe/
installer/build/
installer/Output/
**/*.exe
**/*.zip

# logs
*.log
**/logs/
**/*.tsbuildinfo

# OS
.DS_Store
Thumbs.db
